body {
    margin-top: 0;
    background: #eae8e0;
}

.filtr-item {
    padding: 4px 8px;
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

.item-desc {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    position: absolute;
    text-align: left;
    padding: 1rem;
    z-index: 1;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

li a,
li a:hover,
li a:visited {
    color: #fff;
    text-decoration: none;
}

li.active a {
    color: #333;
    text-decoration: none;
}

ol,
ul {
    margin: 0;
    padding: 16px;
}


/* Filter controls */

.simplefilter li,
.multifilter li,
.sortandshuffle li {
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 50px;
    cursor: pointer;
}

.simplefilter li {
    background-color: #333;
    border: 1px solid #fff;
}

.simplefilter li.active {
    background-color: #fff;
    color: #333;
}

.multifilter li {
    background-color: #4b9eff;
}

.multifilter li.active {
    background-color: #2265b4;
}


/* Shuffle and sort controls */

select {
    padding: 1rem 1rem;
    text-transform: uppercase;
}

.sortandshuffle .shuffle-btn {
    background-color: #dec800;
}

.sortandshuffle .sort-btn {
    background-color: #de0000;
}

.sortandshuffle .sort-btn.active {
    background-color: #9d0000;
}


/* Search control */

.search-row {
    margin-left: 2.5rem;
}

.filtr-search {
    padding: 0.5rem;
    text-transform: uppercase;
}


/* Custom */

.pinned {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
}

.modalNav {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    border-bottom: 2px solid #ccc;
    background: #333;
    top: 46px;
}

.modalHeader {
    background: #d41200;
    height: 46px;
}

.modalHeader a {
    color: #fff;
    font-size: 20px;
    float: right;
    padding: 8px 14px;
    font-weight: bold;
}

.simplefilter {
    width: 1260px;
}


/* Anchor styles */

.fixed {
    position: fixed;
    top: 46px;
}

.navigation {
    width: 100%;
    background-color: white;
    z-index: 3;
}

.navigation ul {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}

.navigation ul li {
    display: inline-block;
    margin: 0 8px 8px;
    padding: 0;
}

.navigation ul li.active a {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #d41200;
}

.navigation ul li.blue {
    border-bottom-color: #0071c5;
}

.navigation ul li.green {
    border-bottom-color: #c4d600;
}

.navigation ul li.orange {
    border-bottom-color: #fc4c02;
}

.navigation ul li.yellow {
    border-bottom-color: #f3d54e;
}

.navigation ul li a:link,
.navigation ul li a:visited,
.navigation ul li a:active,
.navigation ul li a:hover,
.navigation ul li a:focus {
    color: #333;
    text-decoration: none;
}

.top-page {
    margin-top: 75px;
}

.page {}

.page.blue {
    background-color: #0071c5;
}

.page.green {
    background-color: #c4d600;
}

.page.orange {
    background-color: #fc4c02;
}

.page.yellow {
    background-color: #f3d54e;
}